.hidden {
  display: none;
}

h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}

h4, p {
  color: grey;
}

.col-sm-6 {
  border-style: dashed;
  border-color: grey;
  border-width: thin;
}

.button-label {
  font-style: oblique;
}
